---
import Button from "../components/Button.astro"
import H1 from "../components/Primitives/H1.astro"
import Header from "../components/Primitives/Header.astro"
import DefaultLayout from "../layouts/DefaultLayout.astro"
import { Demo } from "../modules/Demo"
import "../styles/globals.css"

const Description = "Headless UI for building command menus in React."
const Title = `Command Menu — ${Description}`
---

<DefaultLayout title={Title} description={Description}>
  <Header>
    <H1>Command menu</H1>
  </Header>

  <div class="grid place-items-center content-center">
		<Button>Tailwind Button in Astro!</Button>

		<Demo />
	</div>
</DefaultLayout>
