---
import "@fontsource/open-sauce-one/300.css"
import "@fontsource/open-sauce-one/400.css"
import "@fontsource/open-sauce-one/500.css"
import "@fontsource/open-sauce-one/600.css"
import "@fontsource/open-sauce-one/700.css"

type Props = {
  title: string
  description: string
}
const { title, description } = Astro.props
---

<html lang="en" class="bg-primary-50 selection:bg-secondary-900 selection:text-primary-100 font-normal text-primary-950 antialiased">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="description" content={description}>
    <title>{title}</title>
    <meta name="generator" content={Astro.generator} />
	</head>
	<body class="flex min-h-screen flex-col 2xl:mx-auto 2xl:max-w-[1440px]">
  	<main class="flex-1 pt-4 pb-11 md:pt-8 lg:pt-11 lg:pb-21">
  		<slot />
  	</main>
	</body>
</html>
